/* reset to default values for box-model*/

* {
    margin: 0;
    padding: 0;
    /* to set the content from border to border */
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

.container {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100dvw;
    height: 100dvh;

}


.main {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    max-width: 50%;
    max-height: 80%;
    
    border: 2px solid red;
}



/* LEFT SIDE */
.paragraph {
    padding: 20px 10px 20px;
    padding-right: 40px;
}

.loginbutton {
    margin-top: 10px;
    margin-bottom: 60px;
    padding-left: 10px;
}


.leftside {
    float: left;
    flex: 1;

    display: flex;
    flex-direction: column;

    background-color: lightgrey;

    border: 2px solid black;

}

.image {
  width: 5%;
}



/* RIGHT SIDE */

.rightside {
    float: left;
    display: flex;
    flex-direction: column;
    

}

.firslastname {
    display: flex;

}

.emailpass {
    display: flex;
    flex-direction: column;
    
}



