/* reset to default values for box-model*/

* {
    margin: 0;
    padding: 0;
    /* to set the content from border to border */
    box-sizing: border-box;
}

.container {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100dvw;
    height: 100dvh;

}


.main {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50dvw;
    height: 50dvh;

    border: 2px solid black;
}

.image {
    transform-origin: top left;
    transform: scale(0.2); 
   max-width: 10%;
   height: auto;
}